body { background-color: #FFFFFF; color:#000000 }

h1 { font-size: 145% }

.TableHeadingColor     { background: #CCCCFF; color:#000000 } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF; color:#000000 } /* Light mauve */
.TableRowColor         { background: #FFFFFF; color:#000000 } /* White */

a.tag:link {text-decoration:none; color:#0000DD;}
a.tag:visited {text-decoration:none; color:#0000DD;}
a.tag:hover {text-decoration:underline; color:#0000DD;}
a.tag:active {text-decoration:underline; color:#0000DD;}

a.type:link {text-decoration:none; color:#770000;}
a.type:visited {text-decoration:none; color:#770000;}
a.type:hover {text-decoration:underline; color:#770000;}
a.type:active {text-decoration:underline; color:#770000;}

span.tag {color: #0000DD;}
span.content {color: #007700;}
span.option {color: #999999;size: -2;}
span.type {color: #770000;}